body{
  background-color: #ADADAD;
  text-align: center;
}
article {
  background-color: #0073C0;
}
table{
    text-align: center;
    background-color: #0099FF;
    border-color: #0073C0;
    margin-left: auto;
    margin-right: auto;
}
header{
  background-color: #0073C0;
}
nav{
  background-color: #ADADAD;
}
aside{
  background-color: #0073C0;
}
footer{
  background-color: #0073C0;
}
*{
  margin: 0; padding: 0; box-sizing: border-box
}