body{
  background-color: #ADADAD;
  text-align: center;
}
article {
  background-color: #0073C0;
}
table{
    text-align: center;
    background-color: #0099FF;
    border-color: #0073C0;
    margin-left: auto;
    margin-right: auto;
}
header{
  background-color: #0073C0;
  background:linear-gradient(90deg, rgba(0, 115, 192, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
nav{
  background-color: #ADADAD;
}
aside{
  background-color: #0073C0;
}
footer{
  background-color: #0073C0;
}
*{
  margin: 0; padding: 0; box-sizing: border-box;
}
button:hover{
  border-radius: 10%;
  transition: all 0.3s ease;
  opacity: 0.8;
}
.botao-comprar{
  opacity: 80%;
  background: linear-gradient(90deg, rgba(0, 115, 192, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
img{
   transform: scale(1.05);
   box-shadow: inset;
}
label{
  background-color: #0099FF;
}